@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary-color: #965de9;
    --secondary-color: #bda3e6;
    --gray-color: #1D1E22;
}
/*ANIMATIONS starts*/
@keyframes show {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadeLeft {
    0%{
    transform: translateY(-10rem);
    }
    100%{
    transform: translateY(0);
    }
}
@keyframes typing {
    from { width: 0; visibility: hidden; }
    to { width: 100%;visibility: visible ;}
}
@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes randomMovement {
    0%{
        transform: none;
    }
    25%{
        transform: translateX(14rem);
    }
    50%{
        transform: translateY(14rem);
    }
    75%{
        transform: translateX(10rem);
    }
    100%{
        transform: translateY(0rem);
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #fbfbfb;
    background-image: url(/assets/images/background-purple-gradient.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* NavBar start */
.navbar{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}
.navbar ul li{
    list-style-type: none;
    display: inline;
    margin-right: 1.5rem;
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
}
.navbar ul li:hover{
    color: var(--secondary-color);
}
.current-page{
    color: var(--primary-color) !important;
}
.navbar-logo{
    height: 30px;
    margin-right: 2rem;
    cursor: pointer;
    transition: 0.2s;
}
.navbar-logo:hover{
    transform: translateY(-5px);
    filter: brightness(0);
}
.menu-icon{
    width: 37px;
    padding-top: 5px;
    display: none;
}
@media (max-width: 768px) {
    .menu-icon{
    display: block;
    }
    .navbar ul li{
        display: none !important;
        list-style-type: none;
        display: inline;
        margin-right: 1.5rem;
        font-size: 15px;
        cursor: pointer;
        font-weight: 500;
        transition: 0.3s;
    }
    .navbar{
        display: flex;
        color: white;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem;
    }
}

/* Containers starts */
.index-container{
    color: white;
    font-family: Consolas,monaco,monospace; 
    background-color: #1D1E22;
    margin: 3rem auto;
    padding: 25px 10px 60px 10px;
    border-radius: 10px;
    width: 30rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    user-select: none;
}
.stop-it{
    animation: none;
}
#index-title{   
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    line-height: 13px;
    margin-bottom: 50px;
    animation: typing 2s steps(40, end), blink-caret .75s step-end  ;
    user-select: none;
}
#index-welcome{   
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    line-height: 13px;
    margin-bottom: 50px;
    animation: typing 2s steps(40, end), blink-caret .75s step-end ;
    animation-delay: 2s;
    user-select: none;
    visibility: hidden;
}
.index-logo {
    transition: 0.3s;
    cursor: pointer;
    width: 120px;
    display: block;
    margin: 5rem auto;
    animation: fadeLeft 1s  ;
    user-select: none;
}
.index-logo:hover{
    transform: translateY(-6px);
}
.index-container input{
    margin: 0rem auto;
    width: 13rem;
    margin-right: 4rem;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2) ;
    padding: 7px;
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s;
    font-family: Consolas,monaco,monospace; 
    background-color: transparent;
    color: white;    
    user-select: none;
}
.index-container input:focus{
    outline: none;
    border: none;    
    user-select: none;
}
.index-submit{
    color: white;
    background-color: transparent;
    border: 1px solid #fbfbfb;
    font-family: Consolas,monaco,monospace; 
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
}
.index-submit:hover{
    background-color: white;
    color: black;
}
a{
    text-decoration: none;
    color: unset;
}
red{
    color: #9b5624  ;
}
blue{
    color: #E1CA72;
}
yellow{
    color: #47A287;
}
op{
    border-right: 1px solid white;
    margin-left: 10px;
    animation: show 0.9s 0s infinite ;
}

/* context starts */
.index-background{
    opacity: 5%;
    transform: rotate(90deg);
    height: 400px;
    position: absolute;
    z-index: -1;
    top: 20%;
    left: -20rem;
}
.index-start{
    width: 6rem;
    display: block;
    margin: 1rem 2rem 0rem auto;
    padding: 8px 10px 8px 10px;
    border: none;
    cursor: pointer;
    color: var(--gray-color);
    font-family: Consolas,monaco,monospace; 
    border-radius: 4px;
    font-size: 15Px;
    transition: 0.3s;
    text-align: center;
}
.index-start:hover{
    background-color: transparent;
    color: white;
    outline: 1px solid white;
}
.index-fun{
    margin-top: 1rem;
}

/* INDEX RESPOSIVITY STARTS */
@media (max-width:768px) {
    .index-background{
        opacity: 5%;
        transform: rotate(-90deg);
        height: 300px;
        position: absolute;
        z-index: -1;
        top: 20%;
        left: -17rem;
    }
    .index-logo {
        transition: 0.3s;
        cursor: pointer;
        width: 100px;
        display: block;
        margin: 5rem auto;
        animation: fadeLeft 1s  ;
        user-select: none;
    }
}
#loading-compo{
    position: fixed;
    top: 40%;
    left: 46%;
    height: 100px;
    z-index: 100000;
    animation: rotation 2s infinite linear;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 0px 111110px rgb(0, 0, 0, 0.8);
}

