body{
    background-image: none !important;
    background-color: #2D0F43 !important;
}
.links-bg{
    width: 100%;
    position: absolute;
    opacity: 25%;
    z-index: -1;

}
.links-title{
    color: white;
    opacity: 100% !important;
    text-align: center;
    padding-top: 3rem;
    text-shadow: 2px 4px 4px var(--secondary-color);
}
.links-content{
    height: 40rem;
    -webkit-box-shadow: inset 0px 69px 27px -34px #2D0F43;
    -moz-box-shadow: inset 0px 69px 27px -34px #2D0F43;
    box-shadow: inset 0px 80px 27px -34px #2D0F43;
}