#pop-up{
    width: 50%;
    background-color: rgb(194, 193, 193);
    padding: 1rem; 
    position: absolute;
    top: 20%;
    left: 25%;
    border-radius: 10px;
    box-shadow: 0px 0px 1000px 10000px rgb(0, 0, 0, 0.7);
    display: none;
    z-index: 1000 !important;
}
#pop-up button{
    border: none;
    margin-top: 10px;
    background-color: white;
    box-shadow: 1px 3px 5px black;
    padding: 10px 0rem;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 600;
    width: 100%;
    margin-bottom: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#pop-up button:hover{
    transform: translateY(-4px);
}
#pop-up h1{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
#pop-up img{
    display: block;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
    cursor: pointer;
}
#pop-up img:hover{
    filter: brightness(0);
    transform: scale(1.1);
}
.close{
    top: -10px;
    right: -10px;
    position: absolute;
    background-color: black;
    width: 2rem;
    height: 2rem;
    padding-top: 9px;
    border-radius: 50%;
    font-size: 16px;
    line-height: 10px;
    color: white;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}
@media (max-width: 768px) {
    #pop-up{
        width: 80%;
        background-color: rgb(194, 193, 193);
        padding: 1rem; 
        position: absolute;
        top: 20%;
        left: 10%;
        border-radius: 10px;
        box-shadow: 0px 0px 1000px 10000px rgb(0, 0, 0, 0.7);
        display: none;
        z-index: 1000 !important;
    }
}
/* My first game haha */
.my-game{
    margin-top: 4rem;
    border: 1px solid black;
    box-shadow: 6px 10px 40px black;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 3rem;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 5rem;
}
.movehaha{
    display: block !important;
    animation: randomMovement;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    margin-bottom: 15rem;
}
.stop-move{
    transform: none !important;
    animation: none !important;
}
#plt{
    cursor: pointer;
    display: none;
}
#plt img{
    height: 70px;
    margin-top: 2rem;
    text-align: left;
}
.fll{
    color: white;
    text-align: center;
    display: inherit;
    font-size: 22px;
}
#game-start-btn{
    margin-top: 1rem;
    color: white;
    background-color: blueviolet;
    width: max-content;
    padding: 10px 2rem;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
}
.asasa{
    color: white;
    font-size: 22px;
    height: 50px;
    align-items: center;
}
#cookies-numb{
    color: white;
    line-height: 22px;
    font-size: 22px;
    margin-left: 0.5rem;
}
.count-cookies{
    position: fixed !important;
    background-color: white;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    margin: 1rem;
}
.count-cookies span{
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: blueviolet;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}
html{
    overflow-x: hidden;
}
@media (max-width: 768px) {
    .my-game{
        margin-top:1rem;
        width: 90%;
    }
    .count-cookies{
        margin-top: 1rem;
        justify-content: center;
    }
    .fll{
        color: white;
        text-align: center;
        font-size: 22px;
    }
}
