@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(38, 0, 74);
    color: white;
}
nav{
    display: flex;
    padding: 1.5rem 2.5rem;
}
nav img{
    height: 30px;
}
.redzonelogo{
    padding-right: 1rem;
    border-right: 1px solid white;
    margin-right: 1rem;
}
main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
main img{
    height: 600px;
}
main h1{
    font-size: 52px;
    text-align: center;
}