@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@keyframes loading {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to right, rgb(76, 29, 76), darkviolet);
    height: max-content;
    color: white;
}

/* Navbar styling */
nav{
    display: flex;
    justify-content: center;
    margin: 2rem;
    gap: 2rem;
}
nav img{
    height: 4vh;
}
.redzonelogo{
    border-right: 1px solid white;
    padding-right: 2rem;
}

/* Form styling */
.signUp{
    display: block;
    width: max-content;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
}
.signUp form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.signUp form input{
    background-color: transparent;
    border: 1px solid white ;
    border-radius: 15px;
    padding: 10px 20px 10px 15px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    width: 100%;
}
.signUp form input::placeholder{
    color: white;
}
.signUp form input:focus{
    outline: 1px solid white;
    background-color: transparent;
}
.signUp form input:focus::placeholder{
    opacity: 0;
}
.signUp form input[type=submit]{
    cursor: pointer;
    background-color: white;
    color: darkviolet;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: 300ms;
    background-color: transparent;
    border: 1px solid white ;
    border-radius: 15px;
    padding: 10px 20px 10px 15px;
    font-size: 15px;
    background-color: white;
    width: 14rem;
    width: 100%;
}
.signUp form input[type=submit]:hover{
    transform: scale(1.05);
}
.infos{
    font-size: 10px;
    margin: 10px 0;
}
.signUp h1{
    text-align: center;
    margin-bottom: 2rem;
}
.made{
    text-align: center;
    margin-bottom: 2rem;
}
#ezz{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(0, 0, 0, 0.8);
    padding: 100%;
}
#ezz img{
    animation: loading 1s ease-out infinite;
    height: 5vh;
}
main{
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem auto;
    gap: 3rem;
    padding: 3rem 2rem;
    background-color: rgb(255, 255, 255, 0.25);
    border-radius: 15px;
}
.png{
    height: 500px;
    padding-left: 2rem;
    border-left: 1px solid rgb(255, 255, 255, 0.8);
}
@media (max-width : 950px ) {
    main{
        flex-direction: column-reverse;
    }
    .png{
        height: 400px;
        padding-left: 0;
        padding-bottom: 2rem;
        border-left: none;
        border-bottom: 1px solid rgb(255, 255, 255, 0.8);
    }
}